<h2>Boursicoti, boursicota, cherche ta monnaie, tu la trouveras !</h2>

<h4>Salut à toi jeune boursicoteur ! <br>
Sers-toi de notre service pour gagner des K € en action </h4>

<p>Choisis ta monnaie</p>

<form action="/">
  <select name="currency">
     <% @currencies_values.each do |name, value| %>
      <option><%= name %></option>
    <% end %>
  </select>
  <br><br>
  <input type="submit">
</form>



<% if params[:currency].nil? %>
<% else %>
<p> La valeur trouvée à cet instant est: </p>
<p> $ <%= @currencies_values["#{@currency}"] %> </p>
<%= params[:id] %>

<% end %>

