// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.CTA {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #CED8F6;
}

